@charset "UTF-8";

.cell--table {
  table-layout: fixed;/* 表組みのレイアウト方法 */
  width: 100%;
}

.cell--table th {
  background-color: #319c4a;
  font-size: 18px;
  line-height: 26px;/* 行間を調節 */
}

.cell--table th, .cell--table td {
  padding: 10px;
  border: 1px solid #000000;
}

.cell--table td {
  text-align: center;/* 中央寄せ */
  font-size: 18px;
  line-height: 22px;
}

.cell--table tr{
  background: #d5ffc7;
}

.cell--table tr:nth-child(2n){/* 偶数指定 */
  background: #bcbcbc;
}

.cell--table tbody tr:last-child{
  border-top: 1px double #ffffff;/* doubleで白線*/
}